@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.ds-button {
  @apply p-2 text-white hover:bg-neutral-800 bg-neutral-900 cursor-pointer rounded;
}

.ds-button.active {
  @apply bg-blue-500;
}
